/* color palette from <https://github.com/vuejs/theme> */

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;600&family=Overpass:wght@400;700&display=swap');

:root {
  
}

body{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Baloo Bhai 2', cursive;
  font-family: 'Overpass', sans-serif;
}

h1, h2, h3, h4, span, p, label {
  margin: 0;
}

#app{
  height: 100vh;
}
