/* color palette from <https://github.com/vuejs/theme> */

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');

:root {
  
}

body{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Baloo 2', cursive;

}

h1, h2, h3, h4, span, p, label {
  margin: 0;
}

body, 
html,
#app{
  height: 100%;
}
